{{#each chatrooms as |chatroom|}}
  <div id="chat{{chatroom.id}}" class="hide">
    <h2
      class="text-3xl flex justify-start mt-8 py-2 pl-2 lg:ml-8 font-black text-shadow"
    >ChatRoom: {{chatroom.title}}</h2>
    <div class="screen chat-screen">
      <div class="header">
      </div>
      <div
        class="messages py-3 px-4 overflow-y-auto h-3/5 w-11/12 ml-8 rounded-md border-solid border-2 border-sky-500 bg-gradient-to-b from-gray-700 via-gray-900 to-black"
      >
      </div>
      <div class="typebox my-2">
        <input
          type="text"
          id="message-input"
          class="shadow appearance-none border-solid border-2 border-gray-900 rounded w-3/5 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="username"
          type="text"
          placeholder="Type here"
        />
        <button
          class="bg-pink-700 rounded-md py-2 px-4 send-message"
        >Send</button>
      </div>
      {{!-- <div>
        <button class="bg-sky-600 rounded-md p-2 delChat" data-id={{chatroom.id}}>DELETE Room</button>
      </div> --}}
    </div>
  </div>
{{/each}}

{{! <script src="/js/deleteChat.js"></script> }}