{{#each chatrooms as |chatroom|}}
  <div id="chat{{chatroom.id}}" class="hide">
    {{!-- TEST chatroom title style --}}
    <h2 class="text-3xl flex justify-start mt-8 py-2 lg:ml-8 ">ChatRoom: {{chatroom.title}}</h2>
    <div class="screen chat-screen">
      <div class="header">
        <div class="logo"></div>
        {{!-- icon from heroicons.dev --}}
        {{!-- <svg class="w-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"></path>
        </svg> --}}
      </div>
      {{!-- TEST chatroom user messages container --}}
      <div class="messages py-3 px-4 overflow-y-auto h-3/5 w-11/12 ml-8 rounded-md border-solid border-2 border-sky-500 bg-gradient-to-b from-gray-700 via-gray-900 to-black" >
      </div>
      <div class="typebox my-2">
        <input type="text" id="message-input" class="shadow appearance-none border-solid border-2 border-gray-900 rounded w-3/5 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Type here"/>
        <button class="bg-pink-700 rounded-md py-2 px-4 send-message">Send</button>
      </div>
      <div>
        <button class="bg-sky-600 rounded-md p-2 delChat" data-id={{chatroom.id}}>DELETE Room</button>
      </div>
    </div>
  </div>
{{/each}}

<script src="../js/deleteChat.js"></script>