<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Site</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body class="bg-slate-100 text-slate-800">
    <header
      class="flex justify-between items-center p-8 bg-slate-200 drop-shadow-sm border-b-4 border-b-slate-600"
    >
      <h1 class="transition-all duration-200 transform hover:scale-105">
        <a class="text-5xl font-bold" href="/">ChatSpace</a>
      </h1>

    </header>
    <aside>
      
    </aside>
    <main class="w-7/12 mt-5 mx-auto max-w-4xl">
      {{{body}}}
    </main>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>