<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatSpace</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body class="bg-gray-900 text-gray-300">
    <header
      class="flex justify-between items-center p-8 bg-gray-400 drop-shadow-sm border-b-4 border-b-slate-600"
    >
      <h1>
        <a class="text-5xl font-bold text-gray-900" href="/">ChatSpace</a>
      </h1>
      <nav class="flex flex-row items-center gap-2">
        {{#if logged_in}}
          <button
            class="transform rounded-sm bg-indigo-600 p-2 font-bold duration-300 hover:bg-indigo-400"
          >
            <a href="/profile">PROFILE</a>
          </button>|
          <button
            class="transform rounded-sm bg-indigo-600 p-2 font-bold duration-300 hover:bg-indigo-400"
            id="logout"
          ><a href="/login">LOGOUT</a></button>
        {{else}}
          <a
            class="transform rounded-sm bg-indigo-600 p-2 font-bold duration-300 hover:bg-indigo-400"
            href="/testing"
          >LOGIN</a>
        {{/if}}
      </nav>
    </header>
    <div class="flex flex-row h-[calc(100vh-8rem)]">
      {{#if logged_in}}
        <aside
          class="bg-slate-200 text-slate-800 rounded-sm h-full w-2/12 flex flex-col items-center justify-center"
        >
          {{#each chatrooms as |chatroom|}}
            <a class="chatrooms" id="{{id}}">
              <button>{{chatroom.title}}</button>
            </a>
          {{/each}}
        </aside>
      {{/if}}
      <main class="w-7/12 mx-auto max-w-4xl">
      <div id="main" class="show">
        {{{body}}}
      </div>
        {{> chatrooms}}
      </main>
    </div>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
  </body>

</html>