<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Site</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body class="bg-slate-100 text-slate-800">
    <header
      class="flex justify-between items-center p-8 bg-slate-200 drop-shadow-sm border-b-4 border-b-slate-600"
    >
      <h1 class="transition-all duration-200 transform hover:scale-105">
        <a class="text-5xl font-bold" href="/">Blog Site</a>
      </h1>
      <nav class="flex flex-row items-center gap-2">
        {{#if logged_in}}
          <button
            class="border-2 font-bold border-slate-500 rounded-md bg-slate-400 p-2 text-slate-800 transition-all duration-200 transform hover:scale-105"
          >
            <a href="/profile">Profile</a>
          </button>|
          <button
            class="border-2 font-bold border-slate-500 rounded-md bg-slate-400 p-2 text-slate-800 transition-all duration-200 transform hover:scale-105"
            id="logout"
          >Logout</button>
        {{else}}
          <a
            class="border-2 font-bold border-slate-500 rounded-md bg-slate-400 p-2 text-slate-800 transition-all duration-200 transform hover:scale-105"
            href="/login"
          >Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="w-7/12 mt-5 mx-auto max-w-4xl">
      {{{body}}}
    </main>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>