<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatSpace</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body class="bg-slate-900 text-gray-300">
    <header
      class="flex relative lg:justify-end sm:justify-between items-center p-8 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black">
      <div class="flex absolute chatspace">
        <h1>
          <a class="text-5xl font-bold text-violet-100" href="/">ChatSpace</a>
        </h1>
      </div>
      <nav class="flex flex-row items-center gap-2 w-full justify-between">
        {{#if logged_in}}
          <button
            class="rounded-md bg-violet-900 p-2 font-bold duration-300 hover:bg-indigo-400"
          >
            <a href="/profile">PROFILE</a>
          </button>
          <button
            class="rounded-md bg-violet-900 p-2 font-bold duration-300 hover:bg-indigo-400"
            id="logout"
          ><a href="/login">LOGOUT</a></button>
        {{else}}
          <a
            {{! TESTING set button to invisible for login screen }}
            class="invisible transform rounded-md bg-violet-900 p-2 font-bold duration-300 hover:bg-indigo-400"
            href="/login"
          >LOGIN</a>
        {{/if}}
      </nav>
    </header>
    {{!-- TEST full height --}}
    <div class="flex flex-row h-screen">
      {{#if logged_in}}
        <aside
        {{!-- TEST mobile hidden  hidden lg:block--}}
          class="h-screen bg-gradient-to-r from-slate-900 via-purple-900 to-slate-900 text-sky-50 rounded-sm w-2/12 flex flex-col items-center"
        >
          {{#each chatrooms as |chatroom|}}
            {{#if chatroom.userHasTag}}
              <a class="chatrooms w-9/12" id="{{id}}">
                <button
                  class="chatTitle capitalize transform w-full rounded-md bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black p-4 my-5 font-bold duration-300 hover:bg-indigo-400"
                >{{chatroom.title}}</button>
              </a>
            {{/if}}
          {{/each}}
        </aside>
      {{/if}}
      {{!-- TESTING main look, changed width and mt, w-full for body render --}}
      <main class="w-full mx-auto flex justify-center">
        {{!-- TEST w-full for profile render--}}
      <div id="main" class="show w-full">
        {{{body}}}
      </div>
        {{> chatrooms}}
        {{!-- blog creation partial --}}
        {{> createBlog}}
      </main>
    </div>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
  </body>

</html>