<div class="app">
  <div class="screen chat-screen">
    <div class="header">
      <div class="logo">Chatroom</div>
      <button id="exit-chat">Exit</button>
    </div>
    <div class="messages">
    </div>
    <div class="typebox">
      <input type="text" id="message-input" />
      <button id="send-message">Send</button>
    </div>
  </div>
</div>