<div class="flex flex-row gap-x-64 justify-center">
  <div class="flex flex-col w-96">
    <h2 class="text-4xl font-bold text-center mb-8">Login</h2>

    <form class="login-form">

      <label class="font-bold" for="email-login">Email:</label>
      <input
        class="w-full p-2 my-2 bg-slate-0 rounded-md border-2 focus:outline-none"
        type="text"
        id="email-login"
      />

      <label class="font-bold" for="password-login">Password:</label>
      <input
        class="w-full p-2 my-2 bg-slate-0 rounded-md border-2 focus:outline-none"
        type="password"
        id="password-login"
      />

      <button
        class="border border-2 font-bold border-slate-500 rounded-md bg-slate-400 p-2 text-slate-800"
        type="submit"
      >Login</button>

    </form>
  </div>
  <div class="flex flex-col w-96">
    <h2 class="text-4xl font-bold text-center mb-8">Sign Up</h2>

    <form class="signup-form">

      <label class="font-bold" for="name-signup">Name:</label>
      <input
        class="w-full p-2 my-2 bg-slate-0 rounded-md border-2 focus:outline-none"
        type="text"
        id="name-signup"
      />

      <label class="font-bold" for="email-signup">Email:</label>
      <input
        class="w-full p-2 my-2 bg-slate-0 rounded-md border-2 focus:outline-none"
        type="text"
        id="email-signup"
      />

      <label class="font-bold" for="password-signup">Password:</label>
      <input
        class="w-full p-2 my-2 bg-slate-0 rounded-md border-2 focus:outline-none"
        type="password"
        id="password-signup"
      />

      <button
        class="border border-2 font-bold border-slate-500 rounded-md bg-slate-400 p-2 text-slate-800"
        type="submit"
      >Sign up</button>

    </form>
  </div>
</div>

<script src="./js/login.js"></script>