@tailwind base;
@tailwind components;
@tailwind utilities;

.hide {
  display: none;
}

.show {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #ffffff2a;
  border-radius: 5px;
}

/* Track */
.blogList::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.blogList::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

/* Handle on hover */
.blogList:hover::-webkit-scrollbar-thumb {
  background: #ffffff2a;
}

.chatspace {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.image-container {
  object-fit: cover;
  background-image: url(./assets/images/ai-image5.jpg);
}

.text-shadow {
  text-shadow: #fc0 1px 0 10px;
}

.height {
  height: calc(100vh - 104px);
}